* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(242, 242, 242);
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.column {
  height: 100vh;
  border-left: 0.5px solid rgb(179, 179, 179);
}

.column:last-child {
  border-right: 0.5px solid rgb(179, 179, 179);
}
